/* Write your CSS code here */
.list-para {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
li {
  padding: 10px;
}

.h1 {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}
.p {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 16px;
  margin-right: 0px;
  margin-left: 0px;
}
